@font-face {
    font-family: 'Gunny Rewritten';
    src: url('/static/findapp/fonts/gunny_rewritten/gnyrwn971.ttf') format('truetype');
}

@font-face {
    font-family: 'Aquarion';
    src: url('/static/findapp/fonts/aquarion/Aquarion.otf') format('truetype');
}

/* Group divs */
body {
    height: 100%;
    width: 100%;
    margin: 0;
    background: linear-gradient(to right, #ffeaff, #d9f6f9);
}

body *{
    font-family: 'Aquarion', sans-serif;
}

main {
    height: 100%;
    width: 100%;
}

.lobby-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 60vh;
}

.game-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 30vh;
}

.infos-group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 3% 0;
    width: 100%;
    height: 30vh;
}

.interaction-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 3% 0;
    width: 100%;
    height: 40vh;
}

.ingame-infos-group{
    width: 35%;
}

/* Player Container */
.player-container{
    width: 30%;
    margin: 2.5% 0;
    height: 100%;
}

.player_text{
    font-size: calc(1vw + 1vh);
    max-width: 100%;
    width: 100%;
    height: 100%;
    text-align: center;
    border: none;
    background: transparent;
}

.player_name{
    font-size: calc(1.5vw + 1.5vh);
    max-width: 100%;
    width: 100%;
    height: 100%;
    text-align: center;
    border: none;
}

/* Infos Container */
.infos-group div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.note-image {
    width: 20%;
}

.word{
    font-size: calc(1.25vw + 1.25vh);
}

.score{
    font-size: calc(1vw + 1.1vh);
    background: linear-gradient(to right, red, orange, yellowgreen);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

/* Other */
#find-word-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#tooltip-image {
    display: none; 
    position: absolute; 
    width: calc(1.75vw + 1.75vh);
    top: 50%; /* Centrer verticalement par rapport à l'élément <input> */
    left: 100%; /* Positionner juste à droite de l'élément <input> */
    transform: translateY(-50%); /* Ajuster pour centrer verticalement */
}

/* Ready container */
.ready-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Text container */
.text-container {
    width: 70%;
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

.text-input {
    width: 100%;
    font-size: 2em;
    border-radius: 20px;
    padding: 1%;
    resize: none;
    font-family: 'Gunny Rewritten', sans-serif;
    background-image: url("/static/findapp/images/feuille.png");
}

/* Rating container */
.rating-container {
    width: 100%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
}

.rating-container input[type="range" i]:disabled {
    background: linear-gradient(to right, rgb(251, 209, 209), rgb(248, 232, 201), rgb(245, 245, 204), rgb(210, 228, 178), rgb(168, 197, 168));
}

.rating-container input[type="range" i]:disabled::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0.5%;
    height: 4.6vh;
    background: #d1d1d1;
    cursor: default;
    border-radius: 20px;
}

.rating-slider {
    width: 60%;
    -webkit-appearance: none;
    appearance: none;
    height: 4vh;
    background: linear-gradient(to right, red, orange, yellow, yellowgreen, green);
    outline: none;
    opacity: 0.9;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    border-radius: 20px;
    padding-left: 2%;
    padding-right: 2%;
}

.rating-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0.5%;
    height: 4.6vh;
    background: #808ab5;
    cursor: pointer;
    border-radius: 20px;
}

/* Navbar */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
nav{
 position: fixed;
 left: 0;
 top: 0;
 width: 100%;
 height: 75px;
 background: #2980b9;
 box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
 z-index: 1;
}
nav .navbar{
 display: flex;
 align-items: center;
 justify-content: space-between;
 height: 100%;
 padding-right: 1%;
 padding-left: 1%;
 background: #2980b9;
 margin: auto;
}
nav .navbar .logo a{
    color: #fff;
    font-size: 27px;
    font-weight: 600;
    text-decoration: none;
}

.navbar .menu li a:hover {
    color: rgb(0, 217, 255);
    text-decoration: underline;
}

#logout:hover{
    color: rgb(220, 39, 39);
}

nav .navbar .menu{
  display: flex;
}
.navbar .menu li{
  list-style: none;
  margin: 0 15px;
}
.navbar .menu li a{
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
}

.button a{
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fff;
  background: #2980b9;
  padding: 7px 12px;;
  font-size: 18px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15);
}


/* Ready button */
.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-red {
    background-color: #ff0000;
    color: #ffffff;
}

.btn-green {
    background-color: #49cc1a;
    color: #ffffff;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-red::after {
    background-color: #ffbaba;
}

.btn-green::after {
    background-color: rgb(179, 255, 203);
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* Footer */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

.footer {
  position: relative;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20vh;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

/* Start Game Button */  
*:focus {
outline: 0;
}

.start-button button {
      border: 2px solid #00aeff;
      color: #00aeff;
      display: block;
      font-size: calc(4vh + 4.25vh);
      letter-spacing: 4px;
      overflow: hidden;
      padding: 10px 30px;
      position: relative;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      border-radius: 30px;
      cursor: pointer;
}
  
.start-button button span {
    position: relative;
    transition: color 1s ease;
}

.start-button button:hover span,
.start-button button:focus span,
.start-button button:active span {
    color: #ffffff;
}

.start-button button .wave:before {
    animation: wave 0.5s linear infinite;
    background-image: url('/static/findapp/images/btn-wave.png');
    background-size: contain;
    content: '';
    height: 22px;
    left: 0;
    position: absolute;
    top: -22px;
    width: 100%;
}

.start-button button .wave {
    background-color: #00aeff;
    height: 100%;
    left: 0;
    position: absolute;
    top: calc(100% + 22px);
    transition: top 1s ease;
    width: 100%;
}

.start-button button:hover .wave,
.start-button button:focus .wave,
.start-button button:active .wave {
    top: 0;
}

@keyframes wave {
    to {
        background-position-x: 118px;
    }
}

/* Url Input */
.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 30em;
 }

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form__field::placeholder {
    color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
}

.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
}

.form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight: 700;
}
/* reset input */
.form__field:required, .form__field:invalid {
    box-shadow: none;
}

.form-url{
    width: 100%;
}