<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'findapp/images/neutral_emoji.png' %}">
    <title>{% block title %}My Site{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'findapp/styles/main.css' %}">
</head>
<body>
    <header>
        <h1 id="username">{{user.username}}</h1>
        <nav>
            <div class="navbar">
                <div class="logo">
                    <a href="{% url 'lobby' %}">
                        FindWord
                    </a>
                </div>
              <ul class="menu">
                <li><a href="{% url 'lobby' %}">Home</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
                <li><a href="#Contact">Contact</a></li>
                <li><a href="https://missclick.net">About</a></li>
                {% if not user.is_authenticated %}
                <li><a href="{% url 'login' %}">Login</a></li>
                {% else %}
                <li><a id="logout" href="{% url 'logout' %}">Logout</a></li>
                {% endif %}
              </ul>
            </div>
        </nav>
        
    </header>
    <main>
        {% block content %}
        <!-- Le contenu spécifique à chaque page sera inséré ici -->
        {% endblock %}
    </main>
    <footer class="footer">
        <div class="waves">
          <div class="wave" id="wave1"></div>
          <div class="wave" id="wave2"></div>
          <div class="wave" id="wave3"></div>
          <div class="wave" id="wave4"></div>
        </div>
        <ul class="social-icon">
          <li class="social-icon__item"><a class="social-icon__link" href="#">
              <ion-icon name="logo-github"></ion-icon>
            </a></li>
          <li class="social-icon__item"><a class="social-icon__link" href="#">
              <ion-icon name="logo-twitter"></ion-icon>
            </a></li>
          <li class="social-icon__item"><a class="social-icon__link" href="#">
              <ion-icon name="logo-linkedin"></ion-icon>
            </a></li>
          <li class="social-icon__item"><a class="social-icon__link" href="#">
              <ion-icon name="logo-instagram"></ion-icon>
            </a></li>
        </ul>
        <ul class="menu">
          <li class="menu__item"><a class="menu__link" href="{% url 'lobby' %}">Home</a></li>
          <li class="menu__item"><a class="menu__link" href="{% url 'register' %}">Register</a></li>
          <li class="menu__item"><a class="menu__link" href="https://missclick.net">About</a></li>
          <li class="menu__item"><a class="menu__link" href="#Contact">Contact</a></li>
    
        </ul>
        <p>&copy;2024 Missclick | All Rights Reserved</p>
      </footer>
      <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
      <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>