<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Site{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'findapp/styles/main.css' %}">
</head>
<body>
    <header>
        <h1 id="username">{{user.username}}</h1>
        <nav>
            <div class="navbar">
                <div class="logo">
                    <a href="{% url 'lobby' %}">
                        FindWord
                    </a>
                </div>
              <ul class="menu">
                <li><a href="{% url 'lobby' %}">Home</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
                <li><a href="#Contact">Contact</a></li>
                <li><a href="https://missclick.net">Discover</a></li>
                {% if not user.is_authenticated %}
                <li><a href="{% url 'login' %}">Login</a></li>
                {% else %}
                <li><a id="logout" href="{% url 'logout' %}">Logout</a></li>
                {% endif %}
              </ul>
            </div>
        </nav>
        
    </header>
    <main>
        {% block content %}
        <!-- Le contenu spécifique à chaque page sera inséré ici -->
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2023 My Site</p>
    </footer>
</body>
</html>