{% extends 'base.html' %}

{% load static %}

{% block title %}FindWord{% endblock %}

{% block content %}

<div class="friends-container">
    <div id="fish-tank">
        <div id="bubble-field"></div>
        {% for friend in friends %}
            <div class="fish {{friend.color}}-fish">
                {% if friend.user1.username == user.username %}
                    <a class="picto-item rotatable" href="#" aria-label="{{friend.user2.username}} - {{friend.score}}"></a>
                {% else %}
                    <a class="picto-item rotatable" href="#" aria-label="{{friend.user1.username}} - {{friend.score}}"></a>
                {% endif %}
                <div class="top-fin"></div>
                <div class="fish-body"></div>
                <div class="tail-fin"></div>
                <div class="side-fin"></div>
                <div class="scale scale-1"></div>
                <div class="scale scale-2"></div>
                <div class="scale scale-3"></div>
            </div>  
        {% endfor %}
    </div>
    <script src="{% static 'findapp/scripts/friends.js' %}"></script>

{% endblock %}