{% extends 'base.html' %}

{% block title %}Lobby{% endblock %}

{% block content %}
    <div class="lobby-container"> 
        <div class="game-container">
            <div class="start-button">
                <form action="" method="post">
                    {% csrf_token %}
                    <label for="player1"></label>
                    <button class="blob-btn" type="submit" name="action" value="CREATE">
                        <span>
                            Start Game
                        </span>
                        <div class="wave"></div>
                    </button>
                </form>
            </div>
                
            <div class="form__group field">
                <form class="form-url" method="post">
                    {% csrf_token %}
                    <input type="input" class="form__field" placeholder="Name" name="name" id='name' required />
                    <label for="name" class="form__label">JOIN GAME</label>
                </form>
                {% if error %}
                <p style="color: red;">{{ error }}</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}