<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>My Web Page</title>
</head>
<body>
    <h1>Lobby</h1>

    <form action="" method="post">
        {% csrf_token %}
        <label for="player1"></label>
        <button type="submit" name="action" value="CREATE">Start Game</button>
    </form>  
    {% if user.is_authenticated %}
        <p>Welcome, {{ user.username }}!</p>
        <button onclick="location.href='{% url 'logout' %}'">Logout</button>
    {% else %}
        <p> Login to play the game </p>
        <button onclick="location.href='{% url 'login' %}'">Login</button>
    {% endif %}
    <p> Register here </p>
    <button onclick="location.href='{% url 'register' %}'">Register</button>

    <p>Join a Room</p>

    <form action="" method="post">
        {% csrf_token %}
        <label for="room_name">Room Name:</label>
        <input type="text" name="room_name" required><br>
    </form>

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
</body>
</body>
</html>