{% extends 'base.html' %}

{% load static %}

{% block title %}FindWord{% endblock %}

{% block content %}
    <div class="lobby-container"> 
        <div class="game-container">
            <div class="start-button">
                <form action="" method="post">
                    {% csrf_token %}
                    <label for="player1"></label>
                    <button class="blob-btn box" type="submit" name="action" value="CREATE">
                        <span>
                            Créer une partie
                        </span>
                        <div class="wave"></div>
                    </button>
                </form>
            </div>
                
            <div class="form__group field">
                <form class="form-url" method="post">
                    {% csrf_token %}
                    <input type="input" class="form__field" placeholder="Name" name="name" id='name' required />
                    <label for="name" class="form__label">REJOINDRE UNE PARTIE</label>
                </form>
                <br>
                {% if error %}
                    <p style="color: red;">{{ error }}</p>
                {% endif %}
            </div>
        </div>
        <div class="best-friend-container">
            {% if best_friend %}
            <p> Ton meilleur ami est <abbr>{{ best_friend }}<abbr></p><image src="{% static 'findapp/images/heart.png' %}" alt="heart" class="heart">
            {% else %}
            <p> Tu n'as pas encore de meilleur ami</p><image src="{% static 'findapp/images/broken-heart.png' %}" alt="heart" class="heart">
            {% endif %}
        </div>
        <p><link href="https://fonts.googleapis.com/css?family=Baloo+2:400,800&display=swap" rel="stylesheet"></p>
    </div>

{% endblock %}