{% extends 'base.html' %}

{% load static %}

{% block title %}FindWord{% endblock %}

{% block content %}
    <div class="register" enctype="multipart/form-data">
        <div class="register-content">
            <h2 class="modal-title">S'inscrire</h2>
            <form method="POST" class="form-modal" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="username" class="form-label">Nom d'utilisateur</label>
                <input type="text" name="username" id="username" class="form-input" oninput="filterInput(this)" required>

                <label for="password" class="form-label">Mot de passe</label>
                <input type="password" name="password" class="form-input" required>

                <label for="confirm_password" class="form-label">Confirmer le mot de passe</label>
                <input type="password" name="confirm_password" class="form-input" required>
                
                {% if error %}
                <p style="color: red;">{{ error }}</p>
                {% endif %}

                <div class="send-button-container">
                  <button class="send-button" type="submit">S'inscrire</button>
                </div>
            </form>
        </div>
    </div>

    <script>
        document.getElementById('username').addEventListener('input', function (e) {
            e.target.value = e.target.value.replace(/[^\w\s]/g, '');
        });
        function filterInput(input) {
            const regex = /[^a-zA-Z0-9]/g;
            input.value = input.value.replace(regex, '');
        }
    </script>  
{% endblock %}
